body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: rgba(35, 39, 65, 0.8) !important;
}

header{
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    border-bottom: 20px solid rgba(35, 39, 65, 0.8) !important;
}

.navbar-brand{
    color: rgba(35, 39, 65, 0.8) !important;
    text-decoration: none !important;
}

.navbar-toggler{
    color: whitesmoke;
    padding: 5px 10px;
    background: rgba(35, 39, 65, 0.8) !important;
    font-weight: 700;
}
.navbar-toggler:focus{
   outline: none !important;
}

.navbar{
    margin-top: 10px;
    margin-bottom: 5px;
}
.nav-container{
    width: 85%;
    margin: 0 auto;
}

.nav-item{
    margin-right: 20px;
    font-size: 14pt;
    font-weight: 700;
    
}
.nav-link{
    color: rgba(35, 39, 65, 0.8);
}

.nav-link{
    border-bottom: 2px solid transparent;
    transition: ease-in-out 0.2s;
}
.nav-link:hover{
    color: rgba(35, 39, 65, 0.88);
    border-bottom: 2px solid rgba(35, 39, 65, 0.8);
}


/* Header, nav responsive CSS starts here */

@media all and (max-width: 1100px){
    .nav-container{
        width: 94%;
    }
    .navbar-brand{
        font-size: 12pt;
    }
    .nav-item{
        margin-right: 15px;
        font-size: 12pt;
        font-weight: 700;
    }
}

@media all and (max-width: 880px){
    .nav-container{
        width: 97%;
    }
    .nav-item{
        margin-right: 12px;
        
    }
}

@media all and (max-width: 767px){
    .navbar-brand{
        margin-bottom: 5px;
    }
    .nav-item{
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .navbar-toggler{
       font-size: 13pt;
    }
}

@media all and (max-width: 350px){
    .nav-container{
        width: 98%;
    }
    .navbar-brand{
        font-size: 10pt;
    }
    .navbar-toggler{
        font-size: 11pt;
     }
}



/* Header, nav responsive CSS Ends here */




.profile-section{
    width: 100%;
    float: left;
    overflow: hidden;
    margin-top: 120px;
    margin-bottom: 50px;
}

.container-of-profile{
    width: 80%;
    margin: 0 auto;
}

.card{
    border-radius: 0 !important;
    border: 2px solid white;
}

.card-header{
    background: rgba(35, 39, 65, 0.8);
    border: none !important;
    border-radius: 0 !important;
}

.card-header h2{
    width: 100%;
    text-align: center;
    color: white;
}

.card-footer{
    background: white;
}

.card-footer h4{
    width: 100%;
    background: rgba(35, 39, 65, 0.8);
    text-align: center;
    color: white;
    padding: 20px 0;
}

.first-table{
    width: 90%;
    float: left;
    overflow: hidden;
}

.Edit-button{
    width: 10%;
    float: left;
    overflow: hidden;
    padding: 20px;
}

.edit-btn-link{
    padding: 20px;
    margin-top: 90px;
}

.btn{
    border-bottom: 5px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border-color: rgba(49,27,146 , 0.4);
    box-shadow: 0 0 1px 3px rgba(49,27,146 , 0.3);
    outline: 0;
}


/* Profile page responsive rules starts here */

@media all and (max-width: 1301px){
    .container-of-profile{
        width: 90%;

    }
}

@media all and (max-width: 1150px){
    .container-of-profile{
        width: 92%;

    }

    .first-table{
    width: 80%;

    }

   .Edit-button{
    width: 20%;
   }
}


@media all and (max-width: 660px){
    .container-of-profile{
        width: 98%;

    }
    .card-body{
        margin: 0;
        padding: 0;
    }
    .first-table{
    width: 100%;

    }
  .btn{
    margin-bottom: 18px;
  }
   .Edit-button{
    width: 100%;
    padding: 0px;
   }

   .card-header h2{
   font-size: 14pt;
   }

   .card-footer h4{
    font-size: 14pt;
    }

    .edit-btn-link{
        padding: 15px;
        margin-top: 5px;
    }

    .table tr th{
        font-size: 10pt;
    }

    .form-control{
        font-size: 10pt;
        padding: 3px;
    }
    .btn{
      font-size: 11pt;
    }
}

@media all and (max-width: 380px){
    .table tr th{
        font-size: 10pt;
    }
    .table tr td{
        font-size: 12pt;
    }
}

@media all and (max-width: 336px){
    .table tr th{
        font-size: 9.5pt;
    }
    .table tr td{
        font-size: 11pt;
    }
}

@media all and (max-width: 312px){
    .card-body-table{
        overflow-x: auto;
    }
}





/* Profile page responsive rules Ends here */