body{
    margin: 0;
    padding: 0;
    background-color: rgb(35, 39, 65);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    
}


.signup-margin-setter{
    width: 100%;
    margin-top: 50px;
    position: absolute;
}

.signup-system-container{
    width: 50%;
    margin: 0 auto;
    background: rgb(221, 226, 228);
    overflow: hidden;
    border-radius: 2px;
}

.signup-title{
    width: 100%;
    font-weight: 700;
    text-align: center;
    color: rgb(35, 39, 65);
    padding: 20px 0;
    margin-top: 10px;
}

.card{
    border: none;
}

.card-header{
    background: rgba(35, 39, 65, 0.7);
    border-bottom: none;
}
.card-header-title{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  color: white;

}


.signup-form-container{
   width: 100%;
   background: rgb(221, 226, 228);
   padding: 20px;
   margin-top: 8px;
   margin-bottom: 40px;
   
}

.signup-form{
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 8px  rgba(0, 0, 0, 0.1);
}
.form-group{
    margin-bottom: 22px;
}
.form-control{
    padding: 12px 10px;
    transition: linear 0.1s;
}

.form-control:focus {
    border-color: rgba(49,27,146 , 0.4);
    box-shadow: 0 0 1px 3px rgba(49,27,146 , 0.3);
    outline: 0;
    padding: 12px 18px;
}

.submit-button{
   margin-top: 4px;
   border: 2px solid rgba(76,117,163 ,1);
   background: rgba(76,117,163 ,1);
   width: 80%;
   padding: 10px 0;
   color: white;
   font-size: 14pt;
   border-radius: 5px;
   transition: all 0.3s;
   
}

.submit-button:hover{
    cursor: pointer;
    background: rgba(52,70,93 ,1);
    border: 2px solid rgba(52,70,93 ,1);
}

.card-footer{
    border-top: none; 
    overflow: hidden;
    
}

.footer-divs{
    width: 50%;
    float: left;
    overflow: hidden;
    padding: 15px 0;
    margin-bottom: 20px;
}

.footer-divs-container{
    width: 80%;
    margin: 0 auto;
}

.footer-link1{
    text-decoration: none !important;
    text-align: center;
    color: white;
    padding: 5px;
    background: #E74856;
    border-radius: 5px;
    transition: all 0.2s;
    font-size: 10pt;
    
}

.footer-link2{
    text-decoration: none !important;
    text-align: center;
    color: white;
    padding: 5px;
    background: #0099BC;
    border-radius: 5px;
    transition: all 0.2s;
    font-size: 10pt;
}

.footer-link1:hover{
    color: white; 
    background: rgb(214, 83, 69); 
}

.footer-link2:hover{
    color: white; 
    background: #00B7C3; 
}

.signuptitle{
    text-align: center;
}

.signupAleart{
    text-align: center;
    margin-bottom: 10px;
    padding: 0 60px;
}

.signup-bttn{
   margin-top: 10px;
   border: 2px solid rgba(2,184,117 ,1);
   background: rgba(2,184,117 ,1);
   width: 60%;
   padding: 5px 0;
   border-radius: 5px;
   transition: all 0.3s;
   font-size: 12pt;
}
.signup-bttn a{
   display: block;
   text-decoration: none !important;
   color: white;
}

.signup-bttn:hover{
    cursor: pointer;
    border: 2px solid #018574;
    background: #018574;
}
.signup-bttn:focus{
    outline: none;
}


/* Media Query */

@media all and (max-width: 1400px){
    .signup-margin-setter{
        margin-top: 40px;
    }
    .signup-system-container{
        width: 60%;
    }
}

@media all and (max-width: 1100px){
    .signup-margin-setter{
        margin-top: 30px;
    }
    .signup-system-container{
        width: 65%;
    }
    .signup-form{
        width: 80%;
    }
}

@media all and (max-width: 980px){
    .signup-margin-setter{
        margin-top: 20px;
    }
    .signup-system-container{
        width: 75%;
    }
    
}

@media all and (max-width: 850px){
    .signup-margin-setter{
        margin-top: 40px;
    }
    .signup-form{
        width: 90%;
    }
    
}

@media all and (max-width: 760px){
    .signup-form{
        width: 95%;
    }
    
}

@media all and (max-width: 701px){
    .signup-system-container{
        width: 90%;
    }
    
    .signup-form{
        width: 98%;
    }
    
}

@media all and (max-width: 640px){
    .signup-system-container{
        width: 100%;
    }
    
    .signup-form{
        width: 98%;
    }

    .signupAleart{
        padding: 0;
    }
    
}

@media all and (max-width: 599px){
    .signup-margin-setter{
        margin-top: 5px;
    }
    .signup-margin-setter{
        margin-top: 0px;
    }

    .signup-form{
        width: 100%;
    }
    .form-control{
        padding: 8px 8px;
        transition: linear 0.1s;
        font-size: 11.5pt;
    }
    
    .form-control:focus {
        padding: 8px 10px;
    }
}

@media all and (max-width: 430px){
    .footer-divs-container{
        width: 100%;
    } 
}

@media all and (max-width: 380px){
    .footer-divs{
        width: 100%;
        margin-bottom: 0px;
    }
}
